<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>${HOSTNAME} %d %-5level %logger{36} %X{akkaSource} - %msg%ex{12}%n</pattern>
        </encoder>
    </appender>

    <appender name="PAPERTRAIL" class="com.papertrailapp.logback.Syslog4jAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} ${HOSTNAME} %-5level %logger{16} - %m%n%xEx{12}</pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.ssl.SSLTCPNetSyslogConfig">
            <!-- remote system to log to -->
            <host>logs4.papertrailapp.com</host>
            <!-- remote port to log to -->
            <port>46429</port>
            <!-- program name to log as -->
            <ident>eclair9</ident>
            <!-- max log message length in bytes -->
            <maxMessageLength>128000</maxMessageLength>
        </syslogConfig>
    </appender>

    <logger name="fr.acinq.eclair.channel" level="DEBUG" />
    <logger name="fr.acinq.eclair.channel.Register" level="DEBUG" />
    <logger name="fr.acinq.eclair.router.FlareRouter" level="DEBUG" />
    <logger name="fr.acinq.protos" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="PAPERTRAIL"/>
    </root>

</configuration>